@using HVZ.Web.Shared.Ui_Helpers
@inject IGameRepo GameRepo

<div class="border border-1 border-secondary rounded p-2 m-auto mt-3">
    @if (ActivePlayer is not null)
    {
        @*Player info card*@
        <div class="d-flex">
            <div class="flex-grow-0">
                @if (UserId is not null)
                {
                    <Thumbnail UserId="@UserId" Size="ImageService.ImageSize.SMALL" />
                }
            </div>
            <div class="flex-grow-1 mx-3">
                <p class="mb-0">
                    <i class="fa-solid fa-id-card"></i> ID: <span>@ActivePlayer.GameId</span>
                </p>
                <p class="mb-0">
                    <i class="fa-solid fa-user"></i> Role: <GameRoleTracker ShowOz="true" Player="@ActivePlayer" GameId="@ActiveGame?.Id" />
                </p>
                <p class="mb-0">
                    <i class="fa-solid fa-people-robbery"></i> Tags: <GameTagCounter Player="@ActivePlayer" GameId="@ActiveGame.Id" />
                </p>
            </div>
        </div>
    }
    else
    {
        @*Join game 4head*@
    }
</div>

@*Org info*@
<div class="p-2 m-auto mt-3">
    <h3>About @Org?.Name</h3>
    <MarkdownDisplay Source="@Org?.Description" />
</div>

@code {
    [Parameter]
    public Game ActiveGame { get; set; } = null!;

    [Parameter]
    public string UserId { get; set; } = null!;

    [Parameter]
    public Player? ActivePlayer { get; set; }

    [CascadingParameter]
    Organization? Org { get; set; }
}
