@page
@using Microsoft.AspNetCore.Components.Web
@model HVZ.Web.Pages.VerifyModel
@using HVZ.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap-dark.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="HVZ.Web.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<title>Email verification</title>

<h1>@Model.VerificationState.ToString()</h1>
<hr>

<div class="container">
    <environment include="Development">
        @if (Model.IdentityErrors != null)
        {
            @foreach(var error in Model.IdentityErrors)
            {
                <span class="text-danger">@error.Code : @error.Description</span>
            }
        }
    </environment>

    @if (Model.VerificationState == VerificationState.ERROR)
    {
        <environment include="Development">
            @if (Model.IdentityErrors != null)
            {
                @foreach(var error in Model.IdentityErrors)
                {
                    <span class="text-danger">@error.Code : @error.Description</span>
                }
            }
            else
            {
                <span>Could not get user, see console for more details</span>
            }
        </environment>
        <environment exclude="Development">
            <span class="text-danger">Something went wrong verifying your email.</span>

            <p>Please try again</p>
            <p>If the problem persists, contact an administrator</p>
        </environment>
    }
</div>

